Repository SAR-ARD/S1_NRB, pull requests merged in 2023-09, with the labels that each got.

#139 [snap.process] skip GRD buffering if list is empty
  S1_NRB/snap.py
Labels: bug

#136 Refer to original source metadata in source XML and JSON
  S1_NRB/metadata/stac.py
  S1_NRB/metadata/xml.py
  S1_NRB/nrb.py
Labels: metadata

#138 wind normalization
  S1_NRB/config.py
  S1_NRB/metadata/extract.py
  S1_NRB/metadata/mapping.py
  S1_NRB/metadata/stac.py
  S1_NRB/nrb.py
  S1_NRB/ocn.py
  S1_NRB/processor.py
  config.ini
  docs/api.rst
  docs/conf.py
  docs/general/usage.rst
Labels: enhancement

#137 XML product metadata improvements
  S1_NRB/metadata/extract.py
  S1_NRB/metadata/stac.py
  S1_NRB/metadata/xml.py
  S1_NRB/nrb.py
Labels: metadata

#140 Metadata/review
  S1_NRB/metadata/extract.py
  S1_NRB/metadata/mapping.py
  S1_NRB/metadata/stac.py
  S1_NRB/metadata/xml.py
Labels: metadata
