Repository SAR-ARD/S1_NRB, pull requests merged in 2023-11, with the labels that each got.

#158 [config] corrected list of allowed modes
  S1_NRB/config.py
Labels: bug

#165 Update metadata links
  S1_NRB/metadata/extract.py
Labels: metadata

#164 Fix missing datamask layers in metadata
  S1_NRB/metadata/mapping.py
Labels: bug, metadata

#166 Add wind normalisation metadata fields
  S1_NRB/ard.py
  S1_NRB/metadata/extract.py
  S1_NRB/metadata/mapping.py
  S1_NRB/metadata/stac.py
  S1_NRB/metadata/xml.py
  S1_NRB/processor.py
Labels: metadata

#168 [metadata.xml.product_xml] add geo acc. reference only if performed
  S1_NRB/metadata/xml.py
Labels: bug

#171 avoid permission error when passing tempfile to gdalwarp
  S1_NRB/metadata/extract.py
Labels: bug
